// media query mixins
@mixin screen-md {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin screen-xl {
  @media screen and (min-width: 1280px) {
    @content;
  }
}

// typography mixins
@mixin text-preset-1 {
  font-family: var(--ff-fraunces);
  font-weight: var(--fw-black);
  font-size: var(--fs-56px);
  line-height: var(--lh-125);
  letter-spacing: var(--ls-9px);
  text-transform: uppercase;
}

@mixin text-preset-2 {
  font-family: var(--ff-fraunces);
  font-weight: var(--fw-black);
  font-size: var(--fs-42px);
  line-height: var(--lh-125);
  letter-spacing: var(--ls-6px);
  text-transform: uppercase;
}

@mixin text-preset-3 {
  font-family: var(--ff-fraunces);
  font-weight: var(--fw-black);
  font-size: var(--fs-40px);
  line-height: var(--lh-125);
  letter-spacing: var(--ls-0px);
}

@mixin text-preset-4 {
  font-family: var(--ff-fraunces);
  font-weight: var(--fw-black);
  font-size: var(--fs-32px);
  line-height: var(--lh-125);
  letter-spacing: var(--ls-0px);
}

@mixin text-preset-5 {
  font-family: var(--ff-fraunces);
  font-weight: var(--fw-black);
  font-size: var(--fs-28px);
  line-height: var(--lh-125);
  letter-spacing: var(--ls-0px);
}

@mixin text-preset-6 {
  font-family: var(--ff-fraunces);
  font-weight: var(--fw-black);
  font-size: var(--fs-20px);
  line-height: var(--lh-125);
  letter-spacing: var(--ls-4px);
  text-transform: uppercase;
}

@mixin text-preset-7 {
  font-family: var(--ff-fraunces);
  font-weight: var(--fw-black);
  font-size: var(--fs-18px);
  line-height: var(--lh-125);
  letter-spacing: var(--ls-0px);
}

@mixin text-preset-8 {
  font-family: var(--ff-fraunces);
  font-weight: var(--fw-black);
  font-size: var(--fs-15px);
  line-height: var(--lh-165);
  letter-spacing: var(--ls-1px);
}

@mixin text-preset-9 {
  font-family: var(--ff-barlow);
  font-weight: var(--fw-semibold);
  font-size: var(--fs-20px);
  line-height: var(--lh-125);
  letter-spacing: var(--ls-0px);
}

@mixin text-preset-10 {
  font-family: var(--ff-barlow);
  font-weight: var(--fw-semibold);
  font-size: var(--fs-18px);
  line-height: var(--lh-165);
  letter-spacing: var(--ls-0px);
}

@mixin text-preset-11 {
  font-family: var(--ff-barlow);
  font-weight: var(--fw-semibold);
  font-size: var(--fs-16px);
  line-height: var(--lh-170);
  letter-spacing: var(--ls-0px);
}

@mixin text-preset-12 {
  font-family: var(--ff-barlow);
  font-weight: var(--fw-semibold);
  font-size: var(--fs-14px);
  line-height: var(--lh-180);
  letter-spacing: var(--ls-0px);
}
