:root {
  --clr-white: rgb(255, 255, 255);
  --clr-black: rgb(0, 0, 0);
  --clr-green-800: rgb(36, 85, 74);
  --clr-green-600: rgb(62, 116, 103);
  --clr-green-500: rgb(69, 141, 126);
  --clr-green-300: rgb(144, 212, 198);
  --clr-grey-950: rgb(36, 48, 62);
  --clr-grey-600: rgb(91, 99, 109);
  --clr-grey-550: rgb(128, 131, 151);
  --clr-grey-400: rgb(167, 170, 173);
  --clr-blue-950: rgb(5, 44, 59);
  --clr-blue-800: rgb(25, 83, 108);
  --clr-red-400: rgb(254, 119, 102);
  --clr-yellow-500: rgb(250, 212, 0);
}
