:root {
  /* variables */
  --c-white: #ffffff;
  --c-black: #000000;
  --c-green-800: #24554a;
  --c-green-600: #3e7467;
  --c-green-500: #458d7e;
  --c-green-300: #90d4c6;
  --c-gray-950: #24303e;
  --c-gray-600: #5b636d;
  --c-gray-550: #808397;
  --c-gray-400: #a7aaad;
  --c-blue-950: #052c3b;
  --c-blue-800: #19536c;
  --c-red-400: #fe7766;
  --c-yellow-500: #fad400;
}
